body{
	margin: 0;
}
.main-body{
	width: 100%;
	height: 500px;
}
.bgimg1{
	width: 100%;
	position: relative;
	background-color:#aacfcf;
}
.logo1{
	position: absolute;
	width: 20%;
	left: 70px;
	top: 70px;
}
.butt{
	position: absolute;
	width: 338px;
	height: 55px;
	right: 70px;
	top: 70px;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 10px;
	border:none;
	box-shadow: hsl(0,0%,70%) 3px 3px 5px;
}
.head1{
	text-transform: capitalize;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	width: 400px;
	font-weight: bolder;
	

}
.para1{
	font-family: 'Poppins',sans-serif;
	font-size: 18px;
	text-align: left;
	width: 550px;

}
.first-container{
	width: 100%;
	position: relative;
	bottom: 500px;
	left: 70px;
}
.computer{
	float: right;
	position: absolute;
	right: 140px;
	width: 45%;



}
.getStarted{
	background-color: hsl(322, 100%, 66%);
	text-transform: capitalize;
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-size: 12px;
	position: relative;
	top: 50px;
	width: 250px;
	height: 50px;
	border-radius: 10px;
	border: none;
	box-shadow: hsl(0,0%,70%) 3px 3px 5px;
}
.second-container{
	width: 90%;
	margin: 0;
	position: absolute;
	top: 700px;
	left: 75px;
	border-radius: 20px;
	box-shadow: hsl(0,0%,70%) 0px 5px 5px 4px;
}
.grow{
	position: relative;
	float: right;
	width: 410px;
	right: 50px;
	padding: 10px;
	
}
.head2{
	position: relative;
	left: 100px;
	top: 100px;
	font-family: 'Open-sans',sans-serif;
}

.para2{
	position: relative;
	font-family: 'Open-sans',sans-serif;
	font-size: 18px;
	text-align: left;
	color:grey;
	width: 500px;
	left: 100px;
	top: 100px;
}
.third-container{
	width: 90%;
	margin: 0;
	position: absolute;
	top: 1100px;
	left: 75px;
	border-radius: 20px;
	box-shadow: hsl(0,0%,70%) 0px 5px 5px 4px;
}
.flow{
	position: relative;
	float: left;
	width: 410px;
	left: 50px;
	padding: 10px;
	
}
.head3{
	position: absolute;
	display: inline;
	right: 386px;
	top: 55px;
	font-family: 'Open-sans',sans-serif;
}

.para3{
	position: absolute;
	font-family: 'Open-sans',sans-serif;
	font-size: 18px;
	color:grey;
	width: 450px;
	height: 100px;
	right: 200px;
	top: 100px;
	display: inline-block;
	
}
.fourth-container{
	width: 90%;
	margin: 0;
	position: absolute;
	top: 1450px;
	left: 75px;
	border-radius: 20px;
	box-shadow: hsl(0,0%,70%) 0px 5px 5px 4px;
}
.user{
	position: relative;
	float: right;
	width: 410px;
	right: 50px;
	padding: 10px;
	
}
.head4{
	position: relative;
	left: 100px;
	top: 100px;
	font-family: 'Open-sans',sans-serif;
}

.para4{
	position: relative;
	font-family: 'Open-sans',sans-serif;
	font-size: 18px;
	text-align: left;
	color:grey;
	width: 500px;
	left: 100px;
	top: 100px;
}
.last-container{
	position: absolute;
	margin: 0;
	top: 350%;
	width: 100%;
	height: 500px;
	background-color:hsl(192, 100%, 9%);
}
.another-container{
	position: relative;
	background-color: white;
	width: 70%;
	height:150px;
	left: 200px;
	bottom: 75px;
	border-radius: 10px;
	outline-offset: all;
	
}
.h5{
	font-family: 'Open-sans',sans-serif;
	text-align: center;
	text-transform: capitalize;
}
.button1{
	position: absolute;
	left: 29%;
	font-family: 'Open-sans',sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
	color: white;
	width: 350px;
	height: 65px;
	border: none;
	border-radius: 10px;
	background-color: hsl(322, 100%, 66%);

}
.logo2{
	position: absolute;
	left: 70px;
	width: 15%
	background-color:white;
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

.navi-icon{
	position: absolute;
	bottom: 50px;
}

.naviIcon{
	position: absolute;
	left: 70px;
	bottom: 175px;

}
.para5{
	position: absolute;
	color: white;
	font-family: 'Open-sans',sans-serif;
	width: 300px;
	left: 100px;
	bottom: 125px;
}

.phone-icon{
	position: absolute;
	top: 250px;
}

.phoneIcon{
	position: absolute;
	left: 70px;
	top: 85px;

}
.para6{
	position: absolute;
	color: white;
	font-family: 'Open-sans',sans-serif;
	width: 300px;
	left: 99px;
	top: 67px;
}
.mail-icon{
	width: 25%;
	position: absolute;
	top: 300px;
}

.mailIcon{
	position: absolute;
	left: 70px;
	top: 85px;

}
.para7{
	position: absolute;
	color: white;
	font-family: 'Open-sans',sans-serif;
	width: 300px;
	left: 99px;
	top: 67px;
}

.about-us{
	position: absolute;
	color: white;
	font-family: 'Open-sans',sans-serif;
	width: 110px;
	height:100px;
	display: inline-block;
	left: 40%;
	bottom: 150px;
	line-height: 2;
}
.p123{
	margin-top: 0;
	padding-top: 0;
}
.career{
	position: absolute;
	color: white;
	font-family: 'Open-sans',sans-serif;
	width: 110px;
	height:100px;
	display: inline-block;
	left: 60%;
	bottom: 150px;
	line-height: 2;
}
.p1234{
	margin-top: 0;
	padding-top: 0;
}
.socmed-icon{
	word-spacing: 10px;
	position: absolute;
	right: 20px;
	width:300px;
	height: 40px;
	bottom: 206px;
}
.facebook{
	margin-bottom: 5px;
    margin-right: 15px;
	width:30px;
	height: 32px;
	background-color: none;
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);


}
.twitter{
	position: relative;
	width: 35px;
	bottom: 5px;
    left: 15px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);

}
.instagram{
	padding:0;
	position: relative;
	width: 40px;
    left: 40px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);

}
.footer1{
	position: absolute;
	bottom: 45px;
	left: 75%;
	width: 400px;
	font-family: 'Open-sans',sans-serif;
	color: white;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.4px;

}